* {
    font-family: 'Montserrat', sans-serif;
}

html {
    -webkit-font-smoothing: antialiased;
}

nav {
  overflow:visible;
}

.menu-bar .icon {
    display: none;
}

@media screen and (max-width: 768px) {
  .menu-bar a {display: none;}
  .menu-bar a.icon {
    float: right;
    display:inline-flex;
  }
}

@media screen and (max-width: 768px) {
  .menu-bar.responsive {position: relative;}
  .menu-bar.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .menu-bar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

@media screen and (max-width: 768px) {
  body {
    background: #fff;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
    color: #545454;
    font-size: 16px;
    line-height: 1.5;
    margin: 0 auto;
    padding: 0.5em;
    border: 10px solid #e6e9e9;
  }

  .js-desktop {
    display:none;
  }

  .js-mobile {
    display: block;
  }
  
  .home-intro-text {
    padding-top: 2em;
    padding-bottom: 2em;
    padding-left: 1em;
    padding-right: 1em;
    max-width: 63em;
    margin-left: auto;
    margin-right: auto;
  }
  
  .column {
    box-sizing: border-box;
    display: inline-block;
    max-width: 57px;
    margin-right: 4%;
    text-align: center;
  }
  
  .logo-row {
    margin-top: 1rem;
    margin-bottom: 1.5em;
  }
  
  h3 {
    font-size: 4.9vw;
  }
  
  h4 {
    font-size: 4vw;
  }
  
  p {
    font-size: 3vw;
  }
  
  .logo {
    width: auto;
    height: 70px;
  }
}

@media screen and (min-width: 769px) {
  .js-desktop {
    display:block;
  }

  .js-mobile {
    display: none;
  }

  body {
    background: #fff;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
    color: #545454;
    font-size: 16px;
    line-height: 1.5;
    margin: 0 auto;
    padding: 2em;
    border: 20px solid #e6e9e9;
  }
  
  .home-intro-text {
    padding-top: 4em;
    padding-bottom: 4em;
    padding-left: 2em;
    padding-right: 2em;
    max-width: 63em;
    margin-left: auto;
    margin-right: auto;
  }
  
  .column {
    box-sizing: border-box;
    display: inline-block;
    max-width: 113px;
    margin-right: 4%;
    text-align: center;
  }
  
  .logo-row {
    margin-top: 1rem;
    margin-bottom: 3em;
  }
  
  h4 {
    font-size: 18px;
  }
  
  .logo {
    width: auto;
    height: 100px;
  }
}

h1, h2, h3, h4, h6, li {
    font-weight: bold;
}

h4 {
    font-family: 'Merriweather', serif;
    line-height: 1em;
    margin-bottom: 1em;
    color: #383838;
}

h5 {
  color:#3e7e00;
  font-size: 16px;
  line-height: 1.5;
}

p {
  text-decoration: none;
  font-family: 'Merriweather', serif;
  line-height: 2em;
  margin-bottom: 2em;
}

/*NAV LINK and TEXT LINK STYLING */

a {
  font: inherit;
}

a.nav-link:link {
  text-decoration: none;
  color: #000;
  border-bottom: 1px solid transparent;
}

a.nav-link:visited {
  color:#000;
}

a.nav-link:hover {
  border-bottom: 1px solid #3e7e00;
  color: #708090;
}

a.nav-link:active {
  color:#000;
}

a.p-link:link, a.p-link:visited {
  color:#3e7e00;
}

a.p-link:hover {
  color:#94c168;
  text-decoration: none;
}

li{
  display: inherit;
}

li.nav-item {
  display: inherit;
  font-weight: 100;
  letter-spacing: 2px;
  padding: 20px 0px;
  text-transform: uppercase;
}

img.tech-logo {
  max-width: 100%;
  height: auto;
}

@media screen and (min-width: 769px) {
    .navbar-logo {
        padding-left: 1em;
        float:left;
        -webkit-animation: fadein 6s; /* Safari, Chrome and Opera > 12.1 */
           -moz-animation: fadein 6s; /* Firefox < 16 */
            -ms-animation: fadein 6s; /* Internet Explorer */
             -o-animation: fadein 6s; /* Opera < 12.1 */
                animation: fadein 6s;
    }
}

@media screen and (max-width: 768px) {
    .navbar-logo {
        float:left;
        -webkit-animation: fadein 6s; /* Safari, Chrome and Opera > 12.1 */
           -moz-animation: fadein 6s; /* Firefox < 16 */
            -ms-animation: fadein 6s; /* Internet Explorer */
             -o-animation: fadein 6s; /* Opera < 12.1 */
                animation: fadein 6s;
    }
}

/* SITE LOGO CSS Keyframes Declarations */

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.home-image-main {
    padding-left: 2em;
    padding-right: 2em;
}

.home-image {
    display: block;
    max-width: 100%;
    height: auto;
    margin-bottom: 2em;
}

.home-main-text {
    padding-top: 2em;
    padding-bottom: 4em;
    padding-left: 2em;
    padding-right: 2em;
    max-width: 55em;
    margin-left: auto;
    margin-right: auto;
}

.footer-links {
  text-align: left;
  padding-top: 2em;
  padding-bottom: 1em;
  border-top: 1px solid #dbd9d9;
  border-top-style:solid;
  max-width: 100%;
  border-bottom: 1px solid #dbd9d9;
  border-bottom-style:solid;
}

.list-unstyled {
  padding-left: 2em;
}

.media {
  padding-bottom: 1em !important;
}

.social-logo {
  height: auto;
  max-width: 1.5em;
  display: inline-block;
  vertical-align: top;
  font-size: 2em;
  text-align: center;
}

#email {
  color:#3e7e00;
  font-size: 16px;
  line-height: 1.5;
}

.media-body {
  padding-top: 1.3em;
}

.copyright-text {
  text-align: center;
  padding-top: 3em;
}

.content-portfolio {
  border-bottom: 1px solid #dbd9d9;
  border-bottom-style:solid;
}

.portfolio-body-main {
  padding-bottom: 2em;
}

.row {
  display: flex;
  justify-content: center;
}

.portfolio-item {
  margin-bottom: 30px;
}

.card {
  border: 1px solid rgba(0,0,0,0);
}

.card-img-top {
  width: 269px;
  height: 154px;
  box-shadow: 4px 4px 10px gray;
}
